  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"/>
  

      <!--IMMAGINE FILM -->
    <div class="content-img-text">
  
        <div class="boxImg">
          <div class="title font" *ngIf="movieDetailsEntry != null">
            <h1>{{ movieDetailsEntry.title }}</h1>
          </div>
        <img src="{{ imagePath }}" *ngIf="imagePath != null" class="shadowx img-fluid"/>
      </div>
  
  <!-- TITOLO E DATI-->
      <div class="box1">
  
        <div class="elm-cntr">
          <div class="elements font" *ngIf="movieDetailsEntry != null">
            <p><b>Release Date: </b> {{ movieDetailsEntry.release_date }}</p>
          </div>
          <div class="elements font" *ngIf="movieDetailsEntry != null">
          </div>
          <div class="elements font" *ngIf="movieDetailsEntry != null">
            <p><b>Vote: </b> {{ movieDetailsEntry.vote_average }} </p>
          </div>
        </div>
        <div class="elements poppins" *ngIf="movieDetailsEntry != null">
          <p>{{ movieDetailsEntry.overview }}</p>
        </div>
  
      </div>
  
    </div>
  
    <div class="">
  
  <div class="container1">

    <!--sezione rating -->

    <!--sezione rating -->

    <!--sezione commenti-->
<div class="comment-wrapper">
  <form class="" (ngSubmit)="onSubmit(formDue)" #formDue="ngForm">
      <div class="form-group row">
              <textarea  class="form-control style-text-area" id="body" required ngModel name="body" placeholder=" comment movie">
                </textarea>
      </div>
      <button type="submit" (click)="reloadPage()" class="btn buttons btn-primary btn-cmt ml-3" required>Submit Comment</button>
  </form>
</div>
  <br>
  <hr>

<!--fine sezione commenti-->

  