
<div class="weather">
<div class="card p-3">

          <div class="d-flex flex-column temp mt-2 mb-1">
                <h3 class="mb-0 font-weight-bold" id="heading"> {{celsius}}°C </h3>
                <span class="small grey">{{dataConditions.conditions}}</span>
                <!-- cielo coperto -->
                <div *ngIf="dataConditions.conditions=='Overcast'">
                  <i class="fas fa-cloud fa-2x"></i>
                </div>
                <!-- nuvoloso -->
                <div *ngIf="dataConditions.conditions=='Partially cloudy'">
                  <i class="fas fa-cloud-sun fa-2x"></i>
                </div>
                <!-- piove -->
                <div *ngIf="dataConditions.conditions=='Rain'">
                  <i class="fas fa-cloud-rain fa-2x"></i>
                </div>
                <!-- sereno -->
                <div *ngIf="dataConditions.conditions=='Clear'">
                  <i class="fas fa-sun fa-2x"></i>
                </div>
                <!-- diluvia -->
                <div *ngIf="dataConditions.conditions=='Thunderstorm'">
                  <i class="fas fa-poo-storm fa-2x"></i>
                </div>
                <!-- temporale -->
                <div *ngIf="dataConditions.conditions=='Heavy Rain'">
                  <i class="fas fa-cloud-showers-heavy fa-2x"></i>
                </div>
                <!-- neve -->
                <div *ngIf="dataConditions.conditions=='Snow'">
                  <i class="fas fa-snowflake fa-2x"></i>
                </div>
  
          </div>
  
                <!-- visualizza ulteriori dati restanti weather widget -->
      <div class="d-flex">
          <div class="temp-details flex-grow-1">
                <p class="my-1">
                      <i class="fas fa-wind mr-1"></i>
                      <span> {{dataConditions.windspeed}} kn </span>
                      <i class="fas fa-tint mr-1 ml-4"></i>
                      <span> {{dataConditions.humidity}}% </span>
                </p>
  
                <p class="my-1">
                    <i class="fas fa-sun mr-1"></i>
                    <span class="mr-1">{{dataConditions.sunrise}} </span>
                    <i class="fas fa-moon ml-2"></i>
                    <span> {{dataConditions.sunset}} </span>
                </p>
  
          </div>
      </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="text-center edit-h1"> </div>

    <div class="weather">
      <h1 class="mb-2 mr-4">MOVIE FOR A DAY {{todaysWeather}}</h1>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Score</th>
          <th scope="col">Name</th>
          <th scope="col">Overview</th>
          <th scope="col">Release Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" *ngFor="let entry of results; let i = index">
          <td>{{entry.vote_average}}</td>
          <td>{{entry.title}}</td>
          <td>{{entry.overview}}</td>
          <td>{{entry.release_date | date}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>