
<div class="container">
  <div class="text-center edit-h1"> </div>

  <div class="weather">
    <h1 class="mb-2 mr-4" style="font-family: GrowingGarden; font-size: 70px;">SUGGESTED MOVIES FOR TODAY</h1>
    <app-weather></app-weather> 
  </div>

  <table class="table"  *ngIf="results != null">
    <tbody>
      <tr class="pointer" *ngFor="let entry of results | slice:0:20;" (click)="goToDetails(entry.id)">
        <div>
          <img src = {{basicImageUrl}}{{entry.poster_path}} class="hover-shadow imgClass">
        </div>

      <div class="info-cntr">
      </div>
      </tr>
    </tbody>

  </table>

</div>

